# Mode the application runs in. Allowed values: debug, production, test
MODE=debug

# Django secret key used for cryptographic signing.
# Ensure to use a strong random value in production.
SECRET_KEY=

# Public URL of your application that is accessible from the outside
SELF_URL=https://yourdomain.com

# Path to Unix socket (optional, either SELF_URL or SELF_UNIX_SOCK must be set)
# SELF_UNIX_SOCK=/path/to/socket

# Telegram Login credentials
# https://core.telegram.org/bots/telegram-login#tldr
TELEGRAM_LOGIN_CLIENT_ID=
TELEGRAM_LOGIN_CLIENT_SECRET=

# Path to frontend directory
FRONTEND_PATH=/path/to/Constructor-Telegram-Bots-Frontend

# Telegram Bots Hub configuration
TELEGRAM_BOTS_HUB_PATH=/path/to/Telegram-Bots-Hub
TELEGRAM_BOTS_HUB_TAG=telegram-bots-hub-microservice
TELEGRAM_BOTS_HUB_NETWORK=
TELEGRAM_BOTS_HUB_REDIS_URL=redis://host.docker.internal:6379/1
TELEGRAM_BOTS_HUB_SOCKETS_VOLUME=
TELEGRAM_BOTS_HUB_LOGS_VOLUME=

# PostgreSQL configuration
POSTGRESQL_DATABASE_NAME=constructor_telegram_bots
POSTGRESQL_DATABASE_USER=exg1o
POSTGRESQL_DATABASE_PASSWORD=password
POSTGRESQL_DATABASE_HOST=localhost
POSTGRESQL_DATABASE_PORT=5432

# Redis configuration
REDIS_URL=redis://localhost:6379
